$col-nearWhite: #fcfdff;
$col-alphaWhite: rgba(236, 245, 255, 0.2);

$col-dark-link: #5E637D;
$col-darkest: #22223B;
$col-dark: #4A4E69;
$col-mid: #9A8C98;
$col-light: #C9ADA7;
$col-lighter: #E2CAC5;
$col-lightest: #F2E9E4;
$col-bg: #FAF9F8;
$col-darkestAlpha: rgba(34, 34, 60, 0.75);
$col-nav-title: #3271AA;
$col-sidebar: #181834;

$sidebar-header-col: #00233E;
$sidebar-dark-col: #002a47;
$sidebar-title-col: #4797ce;
$sidebar-active-col: #1b4868;
$sidebar-hover-col: #1f5a83;
$sidebar-button-col: #003154;

$content-link-col: #92add6;

$light-blue-text: #f6fafd;

$darkish-blue: #1a445d;