.nutrient-table {
	color: #fff;
	margin-bottom: 16px;
	border-bottom: none;
	
	background-color: rgba(22, 10, 2, 0.1);
	border: 1px black solid;
}

.inset-container {
	padding: 10px;
	padding-right: 25px;
	text-align: center;
	content-section {
		background-color: none;
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		h1 {
			color: #fff;
		}
	}
}


//for larger blocks of content/info, usually containing smaller content blocks and a larger section-header

.content-section {
	padding: 10px;
	text-align: center;
	display: inline-block; 
	
	background-color: rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.14);
	-moz-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.14);
	box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.14);
	h1 {
		color: #f2f2f2;
	}
}


//Large headers for sections
.section-header {
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 10px; 
	font-weight: bold;
	color: #fff;
	
	-webkit-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.14);
	-moz-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.14);
	box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.14);
	
	input[type="text"] {
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		transition: .3s ease-in-out;
		height: 2.2em;
		min-width: 20em;
		max-width: 40em;
		display: inline-block !important;
		color: $sidebar-dark-col;
		font-weight: bold;
		&:focus {
			transition: .3s ease-in-out;
			color: #fff;
			background-color: $sidebar-header-col;
		}
	}

	label {
		margin-bottom: 10px;
		height: 1.2em;
		display: block;
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
		color: #fff;
	}

	button {   
		vertical-align: baseline;
		background-color: $sidebar-header-col;
		color: $col-lightest;
		border: 2px #02394e solid;
		border-bottom-color: #001628;
		border-right-color: #001628;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		height: 2.2em; 
		padding: 4px;
		&:hover {
			background-color: $sidebar-hover-col;
			color: #fff;
		}
		&:focus {
			background-color: $sidebar-button-col;
			color: #fff;
		}
	}
}

//blocks for content
.content-block {
	display: inline-block;
	margin-top: 26px;
	text-align: center;
	padding: 4px;
	border-radius: 4px; 
	
	-webkit-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	-moz-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	.block-header {
		width: 100%;  
		display: inline-block;
		color: #fff;
		background-color: #013055;
		font-size: 16px; 
		line-height: 18px;
		font-weight: bold;
		text-transform: capitalize;
		min-height: 42px;
		max-height: 42px;
		border-radius: 4px;
		margin-bottom: 4px;
		padding-top: 2px;
	}
	
	.block-detail {
		background-color: #013055;
		border-radius: 6px;
		color: #fff;
		display: inline-block; 
		font-size: 12px;
		margin: 8px 0;
		padding: 2px;
		height: 6.4em;
		overflow: hidden; 
		
		-webkit-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.14);
		-moz-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.14);
		box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.14);
	}
	.detail-third {
		max-width: 30%;
		margin: 1.5%;
	}
	.detail-row {
		font-size: 10px;
		width: 100%;
		padding: 0 8px;
		line-height: 1.4em;
		height: 1.5em;
		text-align: left;
	}
	
	
	.block-space {
		display: block;
		height: 10px;
	}
	
	.inner-block {
		color: #fff;
		padding: 4px;
		
		-webkit-box-shadow: inset 0px 0px 5px 4px rgba(0,0,0,0.14);
		-moz-box-shadow: inset 0px 0px 5px 4px rgba(0,0,0,0.14);
		box-shadow: inset 0px 0px 5px 4px rgba(0,0,0,0.14);
		
		.inner-title {
			width: 100%;
			font-weight: bold;
			text-align: center;
			font-size: 18px;
			color: $sidebar-header-col;
		}
	}
	
	.nutrient-table {
		font-size: 0.8em;
		color: #fff;
		margin-bottom: 0;  
	}	
	
	label {
		color: #fff;
	}
}



.block-third {
	min-height: 150px; 
	//max-height: 200px;
	width: 30%;
	min-width: 250px;
	margin: 1.5%;
	margin-top: 26px;
	background-color: transparent;
	//margin-top: 3.5px;
	.nutrient-table {
		font-size: 0.6em; 
	}
	
}





//____________Small/Individual Elements___________\\
//small italicized label, mostly for use in content-blocks
.detail-label {
	font-size: 10px;
	display: block;
	font-style: italic;
} 


.link-span {
	a {
		color: $sidebar-header-col; 
		margin: 2px 8px;
		&:hover {
			color: $sidebar-hover-col;
		}
	}
}

.header-bg {
	background-color: $sidebar-header-col !important;
	color: #fff;
	font-weight: bold;
	font-size: 1.5em;  
}

.block-space-100 {
	display: block;
	height: 100px;
}


.right {
	float: right;
}

.faded {
	color: #d0dddf;
}
.white {
	color: #fff;
}











