$darkestblue: #123574;
$darkblue: #264790;
$blue: #5590DD;
$lightblue: #BBE2FC;
$lightestblue: #E4F5FF;

@import 'layouts/homepage.scss'; 
@import 'layouts/nav.scss'; 
@import 'layouts/sidebar.scss'; 
@import 'classes.scss'; 

html {
	background-color: $darkblue;
}

input[type="button"] {
	cursor: pointer;
}

div {
	display: inline-block;
}