@import "colors";
@import "layouts/masthead";
@import "layouts/nav";
@import "layouts/sidebar";
@import "pages/search";
 
	



 

html, body {
	min-height: 100%;
	background-color: $col-bg;
}



.div-tall {
	height: 1200px;
	width: 100%; 
}

.no-gap {
	margin-top: 0;
	margin-bottom: 0;
}


.app-component {
	background-color: #000;
	color: #eef0f5;
}

.app-wrapper {
	width: 100%;
	height: 100%;
}





