<!-- <nav>
    <div class='leftnav'>
        <a href='/' id='home-navlink' class='navlink'>NuTrack</a>
        <% if (user) { %>
            <a href='/users/profile' class='navlink user-navlink'><%= user.username %></a>
            <a href='/users/logout' class='navlink user-navlink'>Logout</a>
        <% } else { %>
            <a href='/users/login' class='navlink user-navlink'>Login</a>
            <a href='/users/register' class='navlink user-navlink'>Register</a>
        <% } %>
    </div>
    
    <div class='rightnav'>
        <a href='#' class='navlink'>Meals</a>
        <a href='#' class='navlink'>Tracker</a>
        <a href='#' class='navlink'>Planner</a>
        <a href='#' class='navlink'>Insights</a>
    </div>
</nav>
-->

<nav class="navbar navbar-expand-lg sticky-top navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span>
			<i class="fa fa-list nav-toggle-icon"></i>
 		</span>
  </button>
  <a class="navbar-brand" href="#">NuTrack</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
		
		<ul class="navbar-nav pull-right">
			
		  <li class="nav-item">
				<a class="nav-link mx-sm-2" href="#">Login</a>
			</li>
			<li class="nav-item">	
				<a class="nav-link mx-sm-2" href="#">Register</a>
			</li>
			
		</ul>
		
    <form class="form-inline my-2 my-lg-0">
			
      <input class="form-control mx-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>














