<!-- assume this will be placed inside a col-3 -->


<div class="sidebar">
	
	<div class="sidebar-spacer"></div>
	
	<a href="#" class="sidebar-link"><div class="sidebar-segment"> <i class="fa fa-tasks sidebar-icon" aria-hidden="true"></i> Tracker</div></a>
	<a href="#" class="sidebar-link"><div class="sidebar-segment"> <i class="fa fa-calendar sidebar-icon" aria-hidden="true"></i> Planner</div></a>
	
	<div class="sidebar-section">
		<a href="#"><div class="sidebar-segment segment-head"> <i class="fa fa-cutlery sidebar-icon" aria-hidden="true"></i> Meals</div></a>
		<a href="#"><div class="sidebar-segment segment-item meal-item meal-item-0">Meal #1</div></a>
		<a href="#"><div class="sidebar-segment segment-item meal-item meal-item-0">Meal #2</div></a>
		<a href="#"><div class="sidebar-segment segment-item meal-item meal-item-0">Meal #3</div></a>
		<a href="#"><div class="sidebar-segment segment-item meal-item meal-item-0">Meal #4</div></a>
	</div>
	
	<div class="sidebar-section">
		<div class="sidebar-segment segment-head"> <i class="fa fa-bar-chart sidebar-icon" aria-hidden="true"></i> Comparisons</div>
		<a href="#" class="sidebar-link"><div class="sidebar-segment segment-item compare-item compare-item-0">Comparison #1</div></a>
		<a href="#" class="sidebar-link"><div class="sidebar-segment segment-item compare-item compare-item-1">Comparison #2</div></a>
		<a href="#" class="sidebar-link"><div class="sidebar-segment segment-item compare-item compare-item-2">Comparison #3</div></a>
		<a href="#" class="sidebar-link"><div class="sidebar-segment segment-item compare-item compare-item-3">Comparison #4</div></a>
	</div>	
	
</div>