<!DOCTYPE html>
<html>
    <head>
        <title><%= data %></title>
				<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
				<link rel='stylesheet' href='/stylesheets/global.css' />
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			
				<script src='/react/react.development.js' /></script>
				<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
			
    </head>
    <body>
        
        
			<section class="bottom-slant masthead">
				<% include partials/nav.ejs %>
        <br />
        <% if (user) { %>
            you are logged in as: <%= user.username %>
        <% } else { %>
			
        <% } %>
				<div class="d-flex align-items-center justify-content-center my-5">
						
						<div class="center-block d-flex justify-content-center flex-column align-self-center pb-3" id="home-searchdiv">
          
          	<div class="container">
          		<div class="row">
          			<div class="col-sm-8 mt-3 ml-3">
          				<div class="title">NuTrack</div>
          				<div class="tagline mb-3">Organize your nutrition</div>
          			</div>
          			<div class="col-sm-2 py-2 hide-img">
						  		<img class="img-fluid" src="/images/carrot.png" width='70%'>
          			</div>
          		</div>
          		<div class="row">
          			<span class="searchbox mt-3">

											<form action="/food/search/" method="get">
												<span class="input-group-btn">
													<input type="text" name="query" class="form-control" placeholder="digiorno pizza" id="foodsearch">
													<button class="btn btn-default" type="submit" value="Search" id="searchBtn">Go!</button>
												</span>
												
											</form>

									</span>
          		</div>
          	</div>


						</div> <!-- home-searchdiv -->
					
							
				</div>
			</section>
     
     	<div class="div-tall">dsd</div>
      
			
			
  </body>
</html>
