<!DOCTYPE html>
<html>
    <head>
      	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NuTrack</title>
        
				
				<!-- Styles. reset > bootstrap > compiled sass --> 
				<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
				<link rel='stylesheet' href='/css/global.css' />
			
				<!-- FONTS -->
				<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Poiret+One|Righteous" rel="stylesheet">
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
				
				<!-- fonts -->
				<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet"> 
				<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
				
			
				<!-- VENDOR -->
				<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
				
				
				<!--
				
				<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
				
				TODO:
				turn whole home page into a react component. Create an App component that handles
				the whole page. When a search is made, or nav link is clicked, it renders the 
				component for that page. At first the App Component renders the home page.
			
				-->
    </head>
    <body>
     	<!-- Set current user as window var so it can be accessed from react if needed(remove if I end up not needing this anymore) -->
      <script>
				window.user = <%- (typeof user != 'undefined') ? JSON.stringify(user) : JSON.stringify(null) %>
			</script>

		
			<div id="App" class="container-fixed">
				<!-- render components here -->
			</div>
      
			
			
			<script src="/js/bundle.js"></script>
  </body>
</html>