.masthead {
  height: 70%;
  min-height: 55vh;
  overflow: hidden;
  background-image: url(../images/header-bg.jpg);
  background-attachment: fixed; }

#home-searchdiv {
  width: 50%;
  min-width: 480px;
  max-width: 680px;
  background-color: rgba(34, 34, 60, 0.75);
  border-radius: 2px;
  border: 1px #9A8C98 solid; }
  #home-searchdiv .searchbox {
    width: 100%;
    text-align: center; }
    #home-searchdiv .searchbox input[type='text'] {
      width: 60%;
      min-width: 200px;
      display: inline-block; }
    #home-searchdiv .searchbox button {
      vertical-align: baseline;
      background-color: #4A4E69;
      color: #F2E9E4;
      border: 1px solid #C9ADA7; }
  #home-searchdiv .title {
    color: #C9ADA7;
    font-size: 2em;
    font-weight: bold; }
  #home-searchdiv .tagline {
    color: #F2E9E4;
    font-size: 1.5em;
    font-style: italic; }

.bottom-slant {
  -webkit-clip-path: polygon(0 0, 2600px 0, 2600px 92%, 0 100%);
  clip-path: polygon(0 0, 2600px 0, 2600px 92%, 0 100%); }

@media (max-width: 576px) {
  .hide-img, .hide-img img {
    display: none; } }

.nav-opaque {
  background-color: #002a47;
  color: #F2E9E4; }

nav {
  background-color: #002a47 !important; }
  nav a {
    color: #F2E9E4 !important; }
    nav a:hover {
      color: #C9ADA7 !important; }

.nav-toggle-icon {
  color: #F2E9E4; }

.nav-corner {
  background-color: #3271AA;
  font-size: 1.5em;
  line-height: 1em;
  font-weight: bold; }

.sidebar {
  background-color: #002a47;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 140px;
  padding: 16% 0 12% 0;
  border-right: 2px #1f5a83 solid; }
  .sidebar .sidebar-link:hover {
    text-decoration: none;
    color: #F2E9E4; }
    .sidebar .sidebar-link:hover div {
      background-color: #1f5a83; }
  .sidebar .sidebar-link i {
    color: #E2CAC5; }
  .sidebar .sidebar-link .icon-disabled {
    color: #4A4E69; }

.sidebar-segment {
  width: 100%;
  min-width: 106px;
  background-color: #002a47;
  color: #F2E9E4;
  font-size: 1.2em;
  padding: 6px 0 6px 18%; }

.segment-head {
  padding-left: 12%;
  color: #C9ADA7;
  background-color: #00233E; }
  .segment-head i {
    color: #C9ADA7; }

.sidebar-section {
  margin-top: 8px; }
  .sidebar-section .segment-item {
    color: #F2E9E4; }
  .sidebar-section a:hover {
    text-decoration: none; }
    .sidebar-section a:hover .sidebar-segment {
      background-color: #1f5a83; }

.sidebar-icon {
  margin-right: 10px; }

.sidebar-rowGroup {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end; }
  .sidebar-rowGroup .sidebar-link {
    display: inline-block;
    height: 100%;
    flex-grow: 4;
    justify-self: flex-start; }
    .sidebar-rowGroup .sidebar-link .sidebar-segment {
      padding-left: 15%; }
  .sidebar-rowGroup .right-segment {
    min-width: 0;
    display: inline-block;
    background-color: #002a47;
    padding-left: 0; }
  .sidebar-rowGroup .right-link {
    flex-grow: 1;
    max-width: 25%;
    text-align: center;
    padding-right: 0;
    float: right; }
  .sidebar-rowGroup .right-icon {
    margin-right: 0; }

.sidebar-spacer {
  height: 2%; }

.sidebar-head {
  background-color: #4A4E69;
  padding: 10px 6px;
  text-align: center;
  font-size: 1.6em; }

.icon-disabled {
  color: #4A4E69; }

@media (max-width: 768px) {
  .sidebar {
    font-size: 0.8em;
    min-width: 110px; } }

.search-col, .main-col {
  align-text: center;
  background: linear-gradient(to bottom, #0a6395, #85d8ce); }
  .search-col th, .search-col tr, .search-col td, .main-col th, .main-col tr, .main-col td {
    border-width: 0 !important; }

.search-area {
  padding: 2px;
  font-size: 0.9em;
  max-width: 86%;
  min-width: 72%;
  margin: 0 auto; }
  .search-area .table {
    border-collapse: separate;
    border-spacing: 0 4px; }
  .search-area .table td, .search-area .table tr {
    padding: 6px 12px; }
  .search-area td {
    color: #fff; }
  .search-area .table tr {
    background-color: rgba(155, 155, 155, 0.3); }
  .search-area td:first-child {
    vertical-align: middle; }
  .search-area .table th {
    background-color: rgba(0, 0, 0, 0.15);
    color: #22223B;
    font-weight: bold;
    font-size: 1.3em; }

.food-item-link {
  color: #00233E;
  font-weight: 500; }
  .food-item-link:hover {
    color: #1f5a83;
    text-decoration: none; }

.search-head {
  text-align: center;
  margin: 25px 2px 4px 2px; }

.search-query {
  font-size: 1.8em;
  font-weight: bold;
  margin-right: 6%;
  text-align: left;
  margin-top: 8px;
  color: #fff; }

.search-input {
  padding-left: 4px;
  transition: 0.3s ease-in-out;
  font-size: 24px;
  display: inline-block;
  width: 100% !important;
  min-width: 10em;
  max-width: 20em;
  padding: 0;
  height: 2.5em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  color: #00233E; }
  .search-input:focus {
    border: none;
    background-color: #00233E;
    color: #fff;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: 0.3s ease-in-out; }

.input-group {
  box-sizing: content-box;
  width: 24em !important;
  max-width: 80%;
  min-width: 400px;
  display: inline-block;
  font-size: 24px;
  border-radius: 12px;
  border: 2px solid #00233E;
  background-color: #00233E; }
  .input-group .btn {
    font-size: 24px;
    min-width: 4em;
    max-width: 4em;
    vertical-align: baseline;
    height: 2.5em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fff;
    color: #22223B;
    border-left: 2px #00233E solid; }
    .input-group .btn:hover {
      background-color: #003154;
      color: #fff; }
    .input-group .btn:focus {
      background-color: #002a47;
      color: #fff; }

.fancy-checkbox {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 0; }
  .fancy-checkbox i {
    color: #002a47;
    width: 30px; }

.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
  display: none; }

.fancy-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block; }

.fancy-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none; }

.newMeal-item-row {
  margin: 0;
  min-height: 460px;
  padding: 2%;
  text-align: center;
  justify-content: center;
  align-content: center; }

.newMeal-items {
  padding: 10px;
  height: 100%;
  text-align: center;
  display: inline-block !important;
  background-color: #fcfcfc;
  border: 1px #aaa solid;
  -webkit-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.12); }
  .newMeal-items .nutrient-table {
    font-size: 1em; }

.content-section .nutrient-table {
  font-size: 1em; }

.nutrient-table {
  padding: 8px 5px;
  border-bottom: 1px #bbb solid;
  padding-bottom: 8px; }

.nutrient-table-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 0; }
  .nutrient-table-list li {
    padding: 0;
    flex-grow: 1; }
    .nutrient-table-list li .nutrient-table-item-name {
      background-color: #002a47;
      color: #fafbfd;
      font-weight: bold; }

.content-block {
  /**
	min-height: 150px;
	height: 100%;
	max-height: 200px;
	display: inline-block;  
	width: 30%;
	min-width: 250px;
	margin: 1.5%; 
	margin-top: 3.5%;
	text-align: center;
	padding: 4px;
	border-radius: 4px;
	background-color: #fff;
	
	-webkit-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	-moz-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	
	.newMeal-item-name {
		width: 100%;
		display: inline-block;
		color: #fff;
		background-color: $sidebar-header-col;
		font-size: 14px;
		min-height: 42px;
		max-height: 42px;
		border-radius: 4px;
	}
	
	.newMeal-name-span {
		min-height: 45px;
		max-height: 45px;
	}
	
	
	.newMeal-item-amount {
		margin: 0 auto;
		width: 60%;
	}
	**/ }

.newMeal-options {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.12); }
  .newMeal-options input[type="text"] {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: .3s ease-in-out;
    height: 2.2em;
    min-width: 20em;
    max-width: 40em;
    display: inline-block !important;
    color: #002a47;
    font-weight: bold; }
    .newMeal-options input[type="text"]:focus {
      transition: .3s ease-in-out;
      color: #fff;
      background-color: #00233E; }
  .newMeal-options label {
    margin-bottom: 10px;
    height: 1.2em;
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #000; }
  .newMeal-options button {
    vertical-align: baseline;
    background-color: #00233E;
    color: #F2E9E4;
    border: 2px #02394e solid;
    border-bottom-color: #001628;
    border-right-color: #001628;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 2.2em;
    padding: 4px; }
    .newMeal-options button:hover {
      background-color: #1f5a83;
      color: #fff; }
    .newMeal-options button:focus {
      background-color: #003154;
      color: #fff; }

@media (max-width: 768px) {
  .newMeal-item-row {
    padding-left: 10px; } }

.meal-row {
  padding: 10px 20px;
  margin-right: 10px; }

.show-meal {
  padding: 16px 20px !important; }

#show-meal-content {
  background: none;
  -webkit-box-shadow: none !important;
  -mox-box-shadow: none !important;
  box-shadow: none !important; }

.show-meal-meals {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important; }
  .show-meal-meals .nutrient-table {
    border: none; }
  .show-meal-meals .nutrient-table-item-total {
    color: #fff; }
  .show-meal-meals .nutrient-table-item-name {
    background-color: #1b4868 !important; }
  .show-meal-meals .block-header {
    background-color: none !important; }

.show-meal-portion-servings {
  font-weight: bold;
  font-color: #00233E; }

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 80%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101; }

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9; }

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd; }

/*!
 * https://github.com/YouCanBookMe/react-datetime
 */
.rdt {
  position: relative; }

.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9; }

.rdtOpen .rdtPicker {
  display: block; }

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static; }

.rdtPicker .rdtTimeToggle {
  text-align: center; }

.rdtPicker table {
  width: 100%;
  margin: 0; }

.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px; }

.rdtPicker td {
  cursor: pointer; }

.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer; }

.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999; }

.rdtPicker td.rdtToday {
  position: relative; }

.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px; }

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff; }

.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker td span.rdtOld {
  color: #999999; }

.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker th {
  border-bottom: 1px solid #f9f9f9; }

.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none; }

.rdtPicker th.rdtSwitch {
  width: 100px; }

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top; }

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker thead tr:first-child th {
  cursor: pointer; }

.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee; }

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9; }

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer; }

.rdtPicker button:hover {
  background-color: #eee; }

.rdtPicker thead button {
  width: 100%;
  height: 100%; }

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer; }

td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee; }

.rdtCounters {
  display: inline-block; }

.rdtCounters > div {
  float: left; }

.rdtCounter {
  height: 100px; }

.rdtCounter {
  width: 40px; }

.rdtCounterSeparator {
  line-height: 100px; }

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.rdtCounter .rdtBtn:hover {
  background: #eee; }

.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em; }

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px; }

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px; }

.nutrient-table {
  color: #fff;
  margin-bottom: 16px;
  border-bottom: none;
  background-color: rgba(22, 10, 2, 0.1);
  border: 1px black solid; }

.inset-container {
  padding: 10px;
  padding-right: 25px;
  text-align: center; }
  .inset-container content-section {
    background-color: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .inset-container content-section h1 {
      color: #fff; }

.content-section {
  padding: 10px;
  text-align: center;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.14);
  box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.14); }
  .content-section h1 {
    color: #f2f2f2; }

.section-header {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #fff;
  -webkit-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.14);
  box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.14); }
  .section-header input[type="text"] {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: .3s ease-in-out;
    height: 2.2em;
    min-width: 20em;
    max-width: 40em;
    display: inline-block !important;
    color: #002a47;
    font-weight: bold; }
    .section-header input[type="text"]:focus {
      transition: .3s ease-in-out;
      color: #fff;
      background-color: #00233E; }
  .section-header label {
    margin-bottom: 10px;
    height: 1.2em;
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff; }
  .section-header button {
    vertical-align: baseline;
    background-color: #00233E;
    color: #F2E9E4;
    border: 2px #02394e solid;
    border-bottom-color: #001628;
    border-right-color: #001628;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 2.2em;
    padding: 4px; }
    .section-header button:hover {
      background-color: #1f5a83;
      color: #fff; }
    .section-header button:focus {
      background-color: #003154;
      color: #fff; }

.content-block {
  display: inline-block;
  margin-top: 26px;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.12); }
  .content-block .block-header {
    width: 100%;
    display: inline-block;
    color: #fff;
    background-color: #013055;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    text-transform: capitalize;
    min-height: 42px;
    max-height: 42px;
    border-radius: 4px;
    margin-bottom: 4px;
    padding-top: 2px; }
  .content-block .block-detail {
    background-color: #013055;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin: 8px 0;
    padding: 2px;
    height: 6.4em;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.14);
    box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.14); }
  .content-block .detail-third {
    max-width: 30%;
    margin: 1.5%; }
  .content-block .block-space {
    display: block;
    height: 10px; }
  .content-block .inner-block {
    color: #fff;
    padding: 4px;
    -webkit-box-shadow: inset 0px 0px 5px 4px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: inset 0px 0px 5px 4px rgba(0, 0, 0, 0.14);
    box-shadow: inset 0px 0px 5px 4px rgba(0, 0, 0, 0.14); }
    .content-block .inner-block .inner-title {
      width: 100%;
      font-weight: bold;
      text-align: center;
      font-size: 18px;
      color: #00233E; }
  .content-block .nutrient-table {
    font-size: 0.8em;
    color: #000;
    margin-bottom: 0; }

.block-third {
  min-height: 150px;
  width: 30%;
  min-width: 250px;
  margin: 1.5%;
  margin-top: 26px;
  background-color: transparent; }
  .block-third .nutrient-table {
    font-size: 0.6em; }

.detail-label {
  font-size: 10px;
  display: block;
  font-style: italic; }

.link-span a {
  color: #00233E;
  margin: 2px 8px; }
  .link-span a:hover {
    color: #1f5a83; }

.header-bg {
  background-color: #00233E !important;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em; }

.block-space-100 {
  display: block;
  height: 100px; }

html, body {
  min-height: 100%;
  background-color: #FAF9F8; }

.div-tall {
  height: 1200px;
  width: 100%; }

.no-gap {
  margin-top: 0;
  margin-bottom: 0; }

.app-component {
  background-color: #000;
  color: #eef0f5; }

.app-wrapper {
  width: 100%;
  height: 100%; }

.input-group-round {
  border-radius: 8px; }

.link-div {
  cursor: pointer; }

.main-col {
  padding-right: 3%;
  padding-left: 3%; }

.right {
  float: right; }

/**
.rdt {
	display: block;
}
.rdt td {
	padding: 5px;
}
.rdtPicker {
	margin-top: 8px;
}
.rdtPicker > div {
	display: inline-block;
}
.rdtCounter {
	display: inline-block;	
	margin: auto 6px;
}
.rdtSwitch, .rdtTimeToggle {
	color: #fff;
	background-color: $sidebar-active-col;
	border-radius: 8px;
	cursor: pointer;
}
.rdtCounterSeparator {
	display: none;
}
.rdtPrev, .rdtNext {
	font-size: 1.5em;
	cursor: pointer;
}

.rdtMonth, .rdtDay, .rdtYear, .rdtCount {
	cursor: context-menu;
}

.rdtBtn {
	cursor: pointer;
}
.rdtActive {
	color: #fff;
	background-color: $sidebar-active-col;
	border-radius: 4px;
}
**/
