.search-result {
    margin: 12px auto;
    padding: 10px 10px;
    background-color: #ebebeb;
    width: 60%;
}

.result-body {
    text-align: center;
}

.result-header {
    text-align: center;
}

.food-link {
    font-size: 1.5em;
    color: cornflowerblue;
    text-decoration: none;
}

.food-link:hover {
    text-decoration: underline;
}

.food-detail {
    display: inline-block;
    background-color: #fff;
    text-align: center;
    padding: 5px;
    margin: 2px 12px;
}

.detail-label {
    display: block;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0.5em;
}