body {
    background-color: #ede7ee;
}
.center-block {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin-left: -200px;
    margin-top: -150px;
    text-align: center;
}

.center-div .header-label {
    font-size: 1.1em;
    display: inline-block;
    margin: 5px;
}

.center-div input[type='text'] {
    font-size: 1.1em;
    width: 16em;
}

.center-div input[type='submit'] {
    font-size: 1.1em;
}

.nutrient-list li, .nutrient-list {
    margin-left: 25px;
    display: inline-block;
    padding: 5px;
}

.centerleft-col {
    margin: 120px 35% 80px 20%;
    padding: 15px 30px;
    width: 60%;
    background-color: #fdfaf7;
    border: 1px #555 solid;
    text-align: center;
}

.centerleft-col ul {
    margin-bottom: 35px;
}

.centerleft-col h2 {
    margin-bottom: 25px;
    font-size: 1.2em;
}

.centerleft-col a {
    padding: 4px 20%;
    border-top: 1px #aaa solid;
}



/**

.center-block {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin-left: -200px;
    margin-top: -150px;
    text-align: center;
}

.center-div .header-label {
    font-size: 1.1em;
    display: inline-block;
    margin: 5px;
}

.center-div input[type='text'] {
    font-size: 1.1em;
    width: 16em;
}

.center-div input[type='submit'] {
    font-size: 1.1em;
}


**/