
.nav-wrapper {
	display: flex;
	.nav-corner {
		color: #fff;
		font-family: 'Lobster', cursive;
		background-color: #6893AF;
		font-size: $nav-logo-fontsize;
		line-height: $nav-logo-lineheight;
		margin: $nav-logo-margin;
		padding: $nav-logo-padding;
		font-weight: bold;
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: center;
	}
	.nav-area {
		flex-grow: 11;
	}
}


.nav-opaque {
	background-color: $sidebar-dark-col;
	color: $col-lightest;
}


nav {
	background-color: $sidebar-dark-col !important;
	min-height: 56px;
	a {
		color: $col-lightest !important;
		&:hover {
			color: $col-light !important;
		}
	}
}

.nav-toggle-icon {
	color: $col-lightest;
}





@media (max-width: 991px) { 
	
	
	/**
	.nav-corner {
		font-size: 40px;
		line-height:48px;
		padding:18px;
	}
	
	**/
}


@media only screen and (max-width: 1025px) {
	nav {
		min-height: 64px;
	}
	#nav-search-form {
		width: 100%;
		justify-content: center;
	}
	.navbar {
		font-size: 1.75em;
		text-align: center !important;
		justify-content: center !important;
		padding: 4px;
		ul {
			width: 100%;
		}
	}
	#nav-toggle-icon {
		font-size: 1.75em;
	}
}


@media only screen and (max-width: 767px) {
	nav {
		min-height: 44px;
	} 
	#nav-toggle-icon {
		font-size: 1.25em;
	}
}

//testing out styles for a better mobile layout. I need to practice this first...
/**
@media (max-width: 991px) { 
	nav {
		min-height: 82px;
	}
	#nav-search-form {
		width: 100%;
		justify-content: center;
	}
	.navbar {
		font-size: 2em;
		text-align: center !important;
		justify-content: center !important;
		ul {
			width: 100%;
		}
	}
	#nav-toggle-icon {
		font-size: 2em;
	}
	.nav-corner {
		font-size: 40px;
		line-height:48px;
		padding:18px;
	}
	
	
	//global
	.container-fixed .fill-height {
		margin-top: -42px !important;
		padding-top: 40px !important;
	}
	
	//sidebar
	.sidebar {
		display: none;
	}
	
	//search
	.input-group {
		max-width: 100% !important;
		width: 100% !important;
		text-align: center;
		background-color: transparent !important;
		border: none !important;
		.search-input {
			font-size: 13px !important;
		}
		.btn {
			font-size: 13px !important;
		}
	}

}
**/










