.nav-opaque {
	background-color: $sidebar-dark-col;
	color: $col-lightest;
}

nav {
	background-color: $sidebar-dark-col !important;
	
	a {
		color: $col-lightest !important;
		&:hover {
			color: $col-light !important;
		}
	}
}

.nav-toggle-icon {
	color: $col-lightest;
}

.nav-corner {
	background-color: $col-nav-title;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: bold;
}