.newMeal-item-row {
	margin: 10px 0;
	min-height: 260px;
	max-height: 300px;
	text-align: center;
}

.newMeal-items {
	padding: 10px;
	height: 100%;
	text-align: center; 
	display: inline-block !important;
	background-color: #fafbfe;
	border: 1px #aaa solid;
		
}

.newMeal-item {
	min-height: 150px;
	height: 100%;
	max-height: 200px;
	display: inline-block;  
	width: 30%;
	min-width: 250px;
	margin: 1.5%; 
	text-align: center;
	padding: 4px;
	border-radius: 4px;
	
	.newMeal-item-name {
		width: 100%;
		display: inline-block;
		color: #fff;
		background-color: $sidebar-header-col;
		font-size: 14px;
		min-height: 42px;
		max-height: 42px;
		border-radius: 4px;
	}
	
	.newMeal-name-span {
		min-height: 45px;
		max-height: 45px;
	}
	
	
	.newMeal-item-amount {
		margin: 0 auto;
		width: 60%;
	}
}


.serving-lbl {
	font-size: 10px;
	display: block;
	font-style: italic;
}

.nutrient-table {  
	padding: 5px;  
	border-bottom: 1px #bbb solid;
}

.nutrient-table-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	margin-bottom: 0;
	background-color: #dfe3e9;
	li { 
		padding: 0;
		flex-grow: 1;
		background-color: #dfe3e9;
		.nutrient-table-item-name {
			background-color:  #b1bac4;
			font-weight: bold; 
		}
	}
}

@media (max-width:768px){
	.newMeal-item-row {
		padding-left: 10px;
	}
}












