//set a breakpoint for item row, on small screens remove side padding
.newMeal-item-row {
	margin: 0;
	min-height: 460px; 
	padding: 2%; 
	text-align: center;
	justify-content: center;
	align-content: center;
}

.newMeal-items {
	padding: 10px;
	height: 100%;
	text-align: center; 
	display: inline-block !important;
	background-color: #fcfcfc;
	border: 1px #aaa solid;
	-webkit-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	-moz-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	
	.nutrient-table {
		font-size: 1em;
	}
		
}
//keep
.content-section {
	.nutrient-table {
		font-size: 1em;
	}
}


.nutrient-table {  
	padding: 8px 5px;
	border-bottom: 1px #bbb solid;
	padding-bottom: 8px; 
}

.nutrient-table-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	margin-bottom: 0; 
	li { 
		padding: 0;
		flex-grow: 1; 
		.nutrient-table-item-name {
			background-color:  $sidebar-dark-col;
			color: #fafbfd;
			font-weight: bold; 
		}
	}
}
 
//.newMeal-item
.content-block {
	/**
	min-height: 150px;
	height: 100%;
	max-height: 200px;
	display: inline-block;  
	width: 30%;
	min-width: 250px;
	margin: 1.5%; 
	margin-top: 3.5%;
	text-align: center;
	padding: 4px;
	border-radius: 4px;
	background-color: #fff;
	
	-webkit-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	-moz-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	
	.newMeal-item-name {
		width: 100%;
		display: inline-block;
		color: #fff;
		background-color: $sidebar-header-col;
		font-size: 14px;
		min-height: 42px;
		max-height: 42px;
		border-radius: 4px;
	}
	
	.newMeal-name-span {
		min-height: 45px;
		max-height: 45px;
	}
	
	
	.newMeal-item-amount {
		margin: 0 auto;
		width: 60%;
	}
	**/

}





.newMeal-options {
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 10px;
	background-color: #fff;
	
	-webkit-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	-moz-box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	box-shadow: 2px 2px 13px 2px rgba(0,0,0,0.12);
	
	input[type="text"] {
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		transition: .3s ease-in-out;
		height: 2.2em;
		min-width: 20em;
		max-width: 40em;
		display: inline-block !important;
		color: $sidebar-dark-col;
		font-weight: bold;
		&:focus {
			transition: .3s ease-in-out;
			color: #fff;
			background-color: $sidebar-header-col;
		}
	}

	label {
		margin-bottom: 10px;
		height: 1.2em;
		display: block;
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
		color: #000;
	}

	button {   
		vertical-align: baseline;
		background-color: $sidebar-header-col;
		color: $col-lightest;
		border: 2px #02394e solid;
		border-bottom-color: #001628;
		border-right-color: #001628;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		height: 2.2em; 
		padding: 4px;
		&:hover {
			background-color: $sidebar-hover-col;
			color: #fff;
		}
		&:focus {
			background-color: $sidebar-button-col;
			color: #fff;
		}
	}
}
  


@media (max-width:768px){
	.newMeal-item-row {
		padding-left: 10px;
	}
}












