.search {
	overflow-x:scroll;
	width: 100%;
}

th {
	border-top: none !important;
	padding-top: 0 !important;
}









.search-area {
	padding: 2px;
	font-size: 0.9em;
	
	margin: 0 auto;
	.table { 
		border-collapse: separate;
		border-spacing: 0 4px;
		max-width: 90%;
		margin: 0 auto;
	}

	.table td, .table tr { 
		padding: 6px 12px; 
	}

	td {
		color: #fff;
	}
	.table tr {

		background-color: rgba(212, 212, 212, 0.3); 
	}

	td:first-child {
		vertical-align: middle;
	}

	.table th {
		background-color: rgba(0, 0, 0, 0.15);
		color: $col-darkest;
		font-weight: bold;
		font-size: 1.3em;
	}
} 



.food-item-link {
	color: $sidebar-header-col;
	font-weight: 500;
	&:hover {
		color: $sidebar-hover-col;
		text-decoration: none;
	}
}


.search-head {
	text-align: center;
	margin: 25px 2px 4px 2px;
}

.search-query {
	font-size: 1.8em;
	font-weight: bold;
	margin-right: 6%;
	text-align: left;
	margin-top: 8px;
	color: #fff;
}

//ADD breakpoints to change search area on small screens
.search-input{ 
	padding-left: 4px;
	transition: 0.3s ease-in-out;
	font-size: 24px;
	display: inline-block;
	width: 100% !important;
	min-width: 10em;
	max-width: 20em;
	padding: 0;
	height: 2.5em;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none; 
	color: $sidebar-header-col;
	&:focus {
		border: none;
		background-color: $sidebar-header-col;
		color: #fff;
		outline: none;
		box-shadow: none;
		-webkit-box-shadow: none;
		transition: 0.3s ease-in-out;
	}
}
.input-group { 
	box-sizing: content-box;
	width: 24em !important;
	max-width: 80%;
	min-width: 400px;
	display: inline-block;
	font-size: 24px;
	border-radius: 12px;
	border: 2px solid $sidebar-header-col;
	background-color: $sidebar-header-col;
	.btn {
		font-size: 24px;
		min-width: 4em;
		max-width: 4em;
		vertical-align: baseline;
		height: 2.5em;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		background-color: #fff;
		color: $col-darkest;
		border-left: 2px $sidebar-header-col solid;
		&:hover {
			background-color: $sidebar-button-col;
			color: #fff;
		}
		&:focus {
			background-color: $sidebar-dark-col;
			color: #fff;
		}
	}
}
 


.fancy-checkbox{
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 0;
	i, svg {
		color: $sidebar-dark-col;
		width: 30px;
	}
}
.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
    display: none;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}
 
.fancy-checkbox input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}






@media only screen and (max-width: 1025px) {
	td {
		display: inline-block;
		width: 100%;
		text-align: center;
		font-size: 11px;
		padding: 4px !important;
		border-top: none !important;
	}
	
	.search-head {
		width: 100%;
		text-align: center;
		overflow:hidden;
		.input-group {
			min-width: 92%;
			margin-left: 3%;
			display: flex;
			input[type="text"] {
				flex-grow: 4;
				min-width: 0 !important;
				max-width: 75%;
			}
			button {
				flex-grow: 1;
				min-width: 0;
				max-width: 25%;
			}
		}
	}
	.search {
		max-width: 100% !important; 
	}
	table {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		overflow: hidden;
		
		.search-check-cell {
			color: #fff;
			float: left;
			width: 15%;
			padding: 0.5em 0 0 16px;
			max-height: 3.2em;
		}
		
		.search-name-cell {
			color: #fff;
			float: right;
			width: 85%;
			padding: 0 0 0 16px;
			max-height: 3.2em;
			overflow: hidden;
			text-align: left;
			font-size: 13px;
		}
		
		.search-nutrient-name {
			display: inline-block;
			width: 50%;
			text-align: right;
			padding-right: 10%;
			font-weight: bold;
		}
		.search-nutrient-val {
			display: inline-block;
			width: 50%;
			text-align: left;
			padding-left: 10%;
			font-style: italic;
		}
	}
}


@media only screen and (max-width: 767px) { 
}




















