.meal-row {
	padding: 10px 20px;
	margin-right: 10px;
}

.show-meal {
	//TODO: set a breakpoing to decrease padding on smaller screense
	padding: 16px 20px !important;
}

#show-meal-content {
	background: none;
	-webkit-box-shadow: none !important;
	-mox-box-shadow: none !important;
	box-shadow: none !important;
}
.show-meal-meals {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	
	.nutrient-table {
		border: none;
	}
	
	.nutrient-table-item-total {
		color: #fff; 
	}
	
	.nutrient-table-item-name {
		background-color: $sidebar-active-col !important;
	}
	
	.block-header {
		background-color: none !important;
	}
}

.show-meal-portion-servings {
	font-weight: bold;
	font-color: $sidebar-header-col;
}